@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/TTLakes-Regular.woff);
}

@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/TTLakes-Bold.woff);
}

@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(../fonts/TTLakes-Medium.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "TT Lakes", sans-serif;
  color: #1B1C21;
  letter-spacing: -0.2px;
}

h1 {
  font-size: 28px;
  line-height: 40px;
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

a {
  text-decoration: none;
  color: #1B1C21;
}

ul {
  list-style-type: none;

}

button {
  font-family: inherit;
  border: none;
  background-color: transparent;

}

.logo__img {
  display: inline-block;
  vertical-align: middle;
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button__icon-container {
  cursor: pointer;
}

.button__icon-container:hover, .button__icon-container:focus {
  opacity: 0.5;
}

.header__logo {
  flex: 1 1 auto;
}

.buttons {
  display: flex;
}

.button-group {
  display: flex;
}

.button-group__item {
  cursor: pointer;
}

.button-group__item:hover{
  opacity: 0.5;
}

.buttons__item:not(:last-child) {
  position: relative;
  margin-right: 42px;
}

.button-group__item:not(:last-child) {
  margin-right: 16px;
}

.nav-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-button__icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button__text {
  margin-right: 9px;
  font-size: 16px;
  line-height: 24px;
}

.main {
  background-color: #F8F8F8;
  padding-top: 24px;
}

.main__title {
  position: relative;
  font-size: 28px;
}

.main__title::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.main-menu__link {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  padding: 6px 16px;
  border: 2px solid transparent;
  
}

.main-menu__link:hover {
  border-color: #D9FFF5;
  background-color: #fff;
}

.main-menu__list{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.main-menu__list-item {
  flex-shrink: 0;
}
.selected {
    display: block;
    border-radius: 6px;
    border: 2px solid  #D9FFF5;
    background-color: #fff;
}


.about__column {
  display: flex;
}

.read-more {
  display: block;
  padding: 1rem 2rem;
 
}

.read-more__text {
  font-family: inherit;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  padding: 0 8px;
}
.desk {
  display: none;
}

.services{
  display: none;
}



.status-check::before {
  content: "";
  position: relative;
  background-color: #EAEAEA;
  height: 32px;
  width: 2px;
  border-radius: 1px;
  top: 50%;
  right: 20px ;
}

/*mediakeys max-width: 768px*/

@media (max-width: 768px){
  .header {
    padding: 0 16px;
  }

  .header__logo {
    margin: 0 20px;
  }

  .main-menu {
    margin-bottom: 24px;
    padding: 0 16px;
  }

  .main__title {
    margin-bottom: 24px;
    padding: 0 16px;
  }

  .about__text {
    overflow: hidden;
    min-width: 280px;
    max-height: 85px;
    padding: 0 1rem;
    line-height: 20px;
  }
  
  .img-desk {
    display: none;
  }

  .img-mob {
    width: 100%;
    height: auto;
    padding: 0 1rem;
  }
}

/* mediakeys min-width: 768px*/

@media (min-width: 768px) {
  .header__logo {
    margin: 0 20px;
  }

  .about__content {
    display: flex;
    box-sizing: border-box;
  }

  .about__text {
    padding: 0 1rem;

  }
  .about__container{
    display: flex;
    flex-direction: row;
  }

  .img-desk{
    display: none;
  }

}

/* mediakeys min-width: 768px and max-width: 1120px*/

@media (min-width: 768px) and (max-width: 1120px){
  .header {
    padding: 0 24px;
  }

  .header__button{
    position: relative;
    margin-right: 18px;
  }

  .header__button::after {
    content: "";
    position: absolute;
    background-color: #EAEAEA;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
  }

  .status-check::before {
    content: "";
    position: relative;
    background-color: #EAEAEA;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    top: 50%;
    right: 20px ;
  }

  .main-menu__list {
    margin-bottom: 32px;
    padding: 0 24px;
  }

  .main-menu {
    flex-shrink: 0;
  }

  .main {
    background-color: #F8F8F8;;
    padding-top: 24px;
  }

  .main__title {
    margin-bottom: 32px;
    padding: 0 24px;
  }

  .about__text {
    margin-bottom: 16px;
    max-height: 160px;
    overflow-y: hidden;
  }

  .img-mob {
    padding: 0 1rem;
    border-radius: 6%;
  }
  
  .services {
    display: flex;
    
  }

}

/*mediakeys max-width: 1120px*/

@media (max-width: 1120px){
  .header{
    border-bottom: 1px solid #D9FFF5;
    background-color: #fff;
    height: 90px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 50;
  }
  .nav-button__text {
    display: none;
  }

  
}

/*mediakeys min-width: 1120px*/

@media (min-width: 1120px) {
  .page {
    width: 1125px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .header {
    background-color: transparent;
  }

  .header__button{
    display: none;
  }

  .header__logo {
    display: none;
  }

  .button-group {
    position: absolute;
    top: 42px;
    right: 32px;
    z-index: 1;
  }

  .header {
    position: relative;
  }

 
  .selected {
    display: inline-block;
    border-radius: 6px;
    border: 2px solid  #D9FFF5;
    background-color: #fff;
  }

  .main-menu{
    margin-bottom: 10px;
    padding: 0 34px;
  }

  .main-menu__list {
    flex-wrap: wrap;
  }

  .main {
    padding-top: 42px;
  }

  .main__title {
    margin-bottom: 10px;
    padding: 0 32px;
  }

  .about__text {
    padding: 0 24px;
    width: 500px;
  }

  .about__text-item_bottom-padding {
    padding-bottom: 32px;
  }
  .page {
    background-color: #F8F8F8;;
  }

  .services {
    display: none;
  }

  .img-desk {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 1rem;
  }

  .img-mob {
    display: none;
  }

  .status-check::before {
    content: "";
    position: relative;
    background-color: #EAEAEA;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    top: 50%;
    right: 20px ;
    display: none;
  }
}
